<html>
<head>
    <style type="text/css">
        body {padding:0px; margin:0px; overflow:hidden; background-color:black; border:1px solid cyan; font-family:Verdana; color:cyan; font-size:9pt;}
        table {color:cyan; font-size:9pt;}
        #MainWindow {margin:1px; height:99.5%; border:1px solid cyan; overflow:hidden; overflow-y:auto; display: flex; align-items: center; justify-content: center; flex-direction: row-reverse; flex-wrap: wrap;  flex-flow: row wrap;  align-content: flex-start;}
        .picContainer, #UploadContainer { width:150px; min-height:200px; border-radius:6px; border:1px solid magenta; margin:10px; overflow:hidden; background-size:contain; background-position:center; background-repeat:no-repeat; position:relative; }
        .picHeader {width:100%; background-color:#111; font-size:9pt; color:magenta; padding:3px;}
        .messageText {position:absolute; bottom:0px; font-size:8pt; color:cyan; height:auto; width:100%; background-color:#111;}
        .showButton {align-content:center; text-align:center;}
        .defaulthidden {display:none;}
    </style>

</head>
<body>
    <div class="defaulthidden largePicView">

    </div>
    <div id="MainWindow" class="container">
