<html>
<head>
    <style type="text/css">
        body {background-color:black; color:cyan; border:2px solid blue; font-size:11pt;}
        #Messagebar {Position:absolute; bottom:0px; left:5%; width:90%; height:35px; background-color:#666666; border:1px solid magenta; font-size:11pt; left:10%; bottom:10px;}

    </style>

</head>
<body>
    <div id="Messagebar"><form method="post" action="/" target="postep"><input name="message"/><input type="hidden" value="thisisapretendhash" name="uid" /><input type="submit"/></form><iframe src="" name="postep" style="width:1px; height:1px;"></iframe></div>
    <div id="MainWindow">
        Messages to follow....