<div class='{pid}_picContainer picContainer'>
    <div class='picHeader'>
        {username}
    </div>
    <div class='{pid}_volatile'>Tags: asdf, asdf,asdf asdf</div>
    <div class='showButton {pid}_volatile'>
        <form method='post' action='/' target='postep' class='form-inline' style='padding:10px;'>
            <input type='hidden' value='{pid}' name='pid' />
            <input type='hidden' value='{uid}' name='uid' />
            <input type='hidden' value='showimage' name='action' />
            <button type='submit' name='showImage' value='true'>Show Image</button>
        </form>
    </div>
    <div class='messageText {pid}_volatile'>
        {message}
    </div>
    <div class='messagetext defaulthidden {pid}_largebutton '>

        <input type='submit' value="View Full Size">
    </div>
</div>